langchain==0.3.27
langchain-community==0.3.24
langchain-core==0.3.74
langchain-groq==0.3.7
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.9

faiss-cpu
sentence-transformers
youtube-transcript-api
python-dotenv
pypdf
torch
transformers